#lista {
  margin: 20px;
}

#lista li {
  display: inline;
  margin: 8px;
  padding: 6px 15px;
  border-style: solid;
  border-width: 2px;
  border-color: #345678;
}
#lista li a {
  border-style: solid;
  border-width: 2px;
  border-color: blueviolet;
  color: blueviolet;
  background-color: #16cae1;
  text-decoration: none;
}

#lista li a:hover {
  border-style: solid;
  border-color: black;
  background-color: yellow;
}

#lista li a:active {
  border-style: solid;
  border-color: red;
  color: red;
  background-color: green;
}
