p {
  text-align: right;
  font-family: "Comic Sans MS", cursive;
  color: blue;
}

.first {
  text-align: center;
  color: red;
  font-size: 1.1em;
  font-family: "Times New Roman", Times, serif;
}

#odlomak2 {
  text-align: justify;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a:visited {
  color: gray;
}

a:hover {
  color: yellow;
}
