table, tr, td{
    text-align: center;
    border: 2px solid blue;
}

td{
    padding: 10px;
}

th{
    padding: 10px; 
    text-align: center;
}

.centered{
    width: 500px; 
    height: 300px; 
    
}
#dugme{
    text-align: center;
}
#img{
    text-align: center;
    width: 500px;
    height: 300px;
}
tr,td{
    border-style: groove;
}

thead tr:first-child{
    background-color: #333; 
    color: white;
}
div div:first-child{
    font-size: 20px;
    color: blue;
}
tr:nth-child(odd){
    background-color: rgb(103, 173, 173);
}
.table{
    border-collapse: collapse; 
    width: 100%; 
    margin: 20px auto; 
    background-color: #f7f7f7;
}
row :first-child{
    background-color: violet;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: DarkSalmon;
    color: white;
  }

  div.c-wrapper{
    width: 500px; /* for example */
    margin: auto;
}

.carousel-inner > .item > img, 
.carousel-inner > .item > a > img{
width: 100%; /* use this, or not */
margin: auto;
}